body {
    padding-top: 10px;
}

p {
    text-align: justify;
}

h3 {
    text-align: left;
}

nav{
    margin-top:15px;
}

section{
    padding-top:30px;
}


#aside{
    margin-bottom: 2rem;
    border-radius: .3rem; 
}

#main{
  
}

#foot{
        margin-bottom: 2rem;
        background-color: #e9ecef;
        border-radius: .3rem;
        padding: 3rem ;
}

.bg-grey{
    background-color: #e9ecef;
}